.Aviasales-app {
	width: 960px;
	background-color: #F3F7FA;
	padding: 50px 0;
	margin: 0 auto;

	@media (max-width: 768px) {
		width: 660px;
	}

	@media (max-width: 420px) {
		width: 340px;
	}

	&__container{
		display: flex;
		justify-content: center;

		@media (max-width: 420px) {
			flex-direction: column;
		 }
	}
	&__main{
		width: 502px;
		
		@media (max-width: 768px) {
			width: 420px;
		}
	
		@media (max-width: 420px) {
			width: 340px;
		}
	}
}

.ant-alert-error{
	width: 100%;
	margin-bottom: 20px;
}
