.container-filter {
	width: 232px;
	height: 252px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	margin-right: 17px;

	@media (max-width: 768px) {
		width: 215px;
	}

	@media (max-width: 420px) {
		width: 340px;
		height: 100%;
		margin: 0;
		margin-bottom: 20px;
	}
}

.title {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #4A4A4A;
	margin-bottom: 20px;

	@media (max-width: 420px) {
		text-align: center;
	 }
}

.filter-list {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #4A4A4A;

	@media (max-width: 420px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}


	&__item{
		margin-left: 30px;
		margin-bottom: 20px;
		user-select: none;
		
		@media (max-width: 420px) {
			margin-right: 20px;
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
}

.filter-label{
	cursor: pointer;

		&::before {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 2px;
      margin-left: -30px;
      position: absolute;
		border: 1px solid #9ABBCE;
    }
}

.filter-checkbox{
	border: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
}

.filter-checkbox:checked + .filter-label::before {
	border: 1px solid #2196F3;
	border-radius: 2px;
	background-image: url(./Shape.svg);
	background-repeat: no-repeat;
	background-position: 50%;
 }